<div th:replace="~{common/header}">The Static Templates</div>
<div th:replace="~{common/navigation}">The Static Templates</div>
<div class="container">
	<h4 th:text="'歡迎， ' + ${name}"></h4>
	<hr>
	<h5>您的待辦事項清單如下</h5>
	<table class="table">
		<thead>
			<tr>
				<th>待辦事項內容</th>
				<th>預定完成日期</th>
				<th>是否已完成 ?</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="toDo : ${toDos}">
				<td><span th:text="${toDo.description}"></span></td>
				<td><span th:text="${toDo.targetDate}"></span></td>
				<td><span th:text="${toDo.done} ? '已完成' : '未完成'"></span></td>
				<td ><a th:href="'deletetodo?id=' + ${toDo.id}"
					class="btn btn-warning px-5">刪除</a></td>
				<td><a th:href="'updatetodo?id=' + ${toDo.id}"
					class="btn btn-success px-5">編輯</a></td>
			</tr>
		</tbody>
	</table>
	<div class="d-flex justify-content-center w-full">
		<a href="addtodo" class="btn btn-success w-50">新增待辦事項</a>
	</div>
</div>
<div th:replace="~{common/footer}">The Static Templates</div>